:root {
  --len: min(250px, 40vw);
}
body {
  width: 100vw;
  height: 100vh;
  /*margin: 10px;/*for this webpage?*/
  /*margin-top: 10px;
  margin-bottom: 10px;*/
  background-color: #badeec;
}
section {
  margin: 0 -5px;
  width: 100vw;
  height: 100vh;
}
.home {
  width: 10%;
  float: left;
  align-items: center;
  height: 25%;
  background-color: darkred;
  z-index: 1010101010;
  color: floralwhite;
  padding: 0-5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.articleImage {
  /*height: var(--len);*/
  width: 100%;
  height: 100%;
  align-items: center;
  /*clip-path: inset(20px 50px 10px 0 round 50px);
  clip-path: inset(3rem);*/
  margin: 10px;
}

.articleOne {
  width: 50%;
  /*float: left;*/
  /*height: 100rem;*/
  padding: 0-10px;
  margin: 5%;
  background-color: blue;
}
/*<img src = "./money.jpg" class="articleImage" alt="Article One" />
      <h1 class="articleTitle">Insert Article Title</h1>
      <h3 class="articleSummary">Insert Article Summary</h3>
      <h5 class="articleExtra">12/15/2023 ▪ 1 min read</h5>*/
.articleTitle {
  text-align: left;
  color: #70bdd8;
  font-family: 'Archivo Black';
  font-size: 36px;
}
.articleSummary {
  text-align: left;
  color: #70bdd8;
  font-family: 'Inconsolata';
  font-size: 20px;
}
.articleExtra {
  text-align: left;
  color: #6b808b;
  font-family: Georgia;
  font-size: 16px;
}