body {
  width: 100%;
  height: 100vh;
  margin: 0;
  /*margin: 10px;/*for this webpage?*/
  /*margin-top: 10px;
  margin-bottom: 10px;*/
  background-color: #badeec;
  overflow-x: hidden;
}
section {
  width: 100vw;
  height: 100%;
  padding: 0-5px;
}
.menu {
  text-align: center;
  size: 20px;
  color: #fcfdfc;
  font-family: 'Shadows Into Light';
}
/*.home {
  width: 10%;
  height: 25%;
  float: inline-end;
  align-self: center;
  align-content: center;
  background-color: darkred;
  color: floralwhite;
  padding: 0-5px;
}*/
.article {
  width: 28%;
  float: left;
  display: inline;
  /*height: 100rem;*/
  /*padding: 5%;*/
  margin-left: 2.5%;
  padding: 1%;
  /*margin: 5%;*/
  color: #fcfdfc;
  background-clip: padding-box;
  background-color: #70bdd8;
}
.articleImage {
  width: 80%;
  height: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  clip-path: inset(1rem);
}
.articleTitle {
  text-align: left;
  font-family: 'Shadows Into Light';
  font-size: 40px;
  font-weight: bold;
}
.articleSummary {
  text-align: left;
  font-family: 'Inconsolata';
  font-size: 20px;
}
.articleExtra {
  text-align: left;
  font-family: Georgia;
  font-size: 16px;
  padding-bottom: 5px;
}