body {
  width: 100%;
  height: 100vh;
  margin: 0;
  /*margin: 10px;/*for this webpage?*/
  /*margin-top: 10px;
  margin-bottom: 10px;*/
  background-color: #badeec;
  overflow-x: hidden;
}
section {
  width: 100vw;
  height: 100%;
  padding: 0-5px;
}
.menu {
  text-align: center;
  size: 20px;
  color: #fcfdfc;
  font-family: 'Shadows Into Light';
}
a.blog:link, a.blog:visited {
  color:#fcfdfc;
}
a.blog:hover {
  color: #70bdd8;
}
a.blog:active {
  color:#6b808b;
}
/*.home {
  width: 10%;
  height: 25%;
  float: inline-end;
  align-self: center;
  align-content: center;
  background-color: darkred;
  color: floralwhite;
  padding: 0-5px;
}*/
.article {
  width: 39%;/*og: 28%*/
  float: left;
  display: inline;
  /*height: 100rem;*/
  /*padding: 5%;*/
  margin-left: 4%;/*og: 2.5%*/
  margin-bottom: 10%;
  padding: 2.5%; /*og: 1%*/
  /*margin: 5%;*/
  color: #fcfdfc;
  background-clip: padding-box;
  background-color: #96cadd;
}
.articleImage {
  width: 90%;
  height: 90%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  clip-path: inset(1rem);
}
.articleTitle {
  text-align: left;
  font-family: 'Shadows Into Light';
  font-size: 36px;
  font-weight: bold;
}
.articleSummary {
  text-align: left;
  font-family: 'Inconsolata';
  font-size: 24px;
}
.articleExtra {
  text-align: left;
  font-family: Georgia;
  font-size: 16px;
  padding-bottom: 5px;
}

#footer {
  text-align: center;
  size: 20px;
  color: #6b808b;
  font-family: 'Shadows Into Light';
  padding-left: auto;
  padding-right: auto;
  padding-top: 5px;
  padding-bottom: 5px;
}